**Functions and Variable Scope**

**Introduction to Creating Functions**

In [48]:
x,y= zip(*zip(range(2),range(len('Python'))))    # extra thing 
print(x,y)

(0, 1) (0, 1)

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [4]:
def greet_person():
    print('hello')
greet_person()

hello

In [17]:
def greet_person(sadu):
    print('hello')
greet_person('s')

hello

In [35]:
def greet_person(sadu):
    print('hello'+ sadu)
greet_person(' abhi')

hello abhi

In [26]:
def greet_person(sadu= ' abhi'):
    print('hello'+ sadu)
greet_person()

hello abhi

In [30]:
def greet_person(sadu= ' abhi'):
    print('hello'+ sadu)
greet_person(" kishan")

hello kishan

In [44]:
def greet_person(sadu= 4):
    '''
    saduabhi #comments
    '''
    
    print('hello '+ str(sadu))
greet_person()

hello 4

In [47]:
def greet_person(sadu= ' abhi'):
    return 'hello'+ sadu
    
    
greet_person(" kishan")

'hello kishan'

In [49]:
def remainder(num1, num2):
    result = num1 % num2
    return result
remainder(10, 3)

1

In [51]:
def remainder(num1, num2):
     
    return num1 % num2

remainder(10, 3)

1

 *args and * *kwargs in Python are used to calculate unlimited options/values

**args stands for arguments, kwargs stands for keyword of arguments**

In [52]:
# def sum(*args, **kwargs):

In [54]:
result = sum((1,2,3,4,5))
result

15

In [62]:
def mysum(a,b,c,d,):
    return a+b+c+d
mysum(1,2,3,4)

10

In [64]:
def mysum(*args):
    return sum(args)
mysum(1,1,1,1,1,1,1,1,1,1,1,1)

12

In [69]:
def key_val_func(**kwargs):
    print(kwargs)
key_val_func(name='mike', age='27')
#key_val_func

{'name': 'mike', 'age': '27'}

In [70]:
def key_val_func(**kwargs):
    print(kwargs.keys())
key_val_func(name='mike', age='27')

dict_keys(['name', 'age'])

In [71]:
def key_val_func(**kwargs):
    print(kwargs.values())
key_val_func(name='mike', age='27')

dict_values(['mike', '27'])

In [73]:
def key_val_func(**kwargs):
    print(kwargs.get('age'))
key_val_func(name='mike', age='27')

27

In [74]:
def key_val_func(**kwargs):
    print(kwargs.get('address'))
key_val_func(name='mike', age='27')

None

**Basics of Variable Scope**

In [77]:
age = 25
print(age)

def increase_age():
    age = 30
    
print(age)

25
25

In [84]:
age = 25  #global to the script
print(age)

def increase_age():
    age = 30   #local to the def func
increase_age    
print(age)

25
25

**Scope and Nested Functions**

In [117]:
#using the method inside the function
#defining the function within the function


age = 25  #global to the script
print(age)

def increase_age():
    age = 30   #local to the def func
    def add_4_to_age(age):
        age = age + 4
        print('nested method '+ str(age))
    add_4_to_age(age)
    print(age)

increase_age()

25
nested method 34
30

In [118]:
def increase_age():
    age = 10   #local to the def func
    def add_4_to_age(age):
        age = age + 4
        print('nested method '+ str(age))
    add_4_to_age(age)
    print(age)

increase_age()

nested method 14
10

In [126]:
def inc_age():
    age =100
    #defining nested function
    def add_age(age):
        add_age = age + 50
        print(add_age)
    #calling nested function
    add_age(age)
inc_age()

150