**Lists in Python**

In [30]:
# list conatains multiple values in the squared brackets []


my_list = [1,2,3,4]
my_list

[1, 2, 3, 4]

In [31]:
type(my_list)

list

In [32]:
# pop an item from the list
# using POP METHOD
# pops out the last value in the list
# this is mutable
my_list.pop()
my_list

[1, 2, 3]

In [33]:
my_list.pop(0)
my_list

[2, 3]

In [35]:
#changing the list values and assigning diiferent value
# list is mutable


A = ['a','b','c','d','e']
A

['a', 'b', 'c', 'd', 'e']

In [36]:
A[0] = 1
A

[1, 'b', 'c', 'd', 'e']

**APPEND METHOD**

In [38]:
# changing the list using APPEND METHOD


A = ['a','b','c','d','e']
A.append("SADU")
A

['a', 'b', 'c', 'd', 'e', 'SADU']

**POP METHOD can be used to returns something**

**None - specific kind of datatype in python, its a reserved word**

In [46]:
my_list = [1,2,3,4,5]
append =my_list.append('this is a sentence')
print(append)
my_list.pop()
my_list

None

[1, 2, 3, 4, 5]

**SORT METHOD**

In [48]:
B = [1,12,3,24,5]
B.sort()
B

[1, 3, 5, 12, 24]

In [50]:
A = ['a','b','d','c','e']
A.sort()
A

['a', 'b', 'c', 'd', 'e']

**REVERSE METHOD**

In [49]:
C = [1,12,3,24,5]
C.reverse()
C

[5, 24, 3, 12, 1]

**len func- gives number of elements to count the number of elements in string as well as in list**

In [53]:
C = [1,12,3,24,5]
len(C)

5

In [56]:
C ="abcdefgh"
len(C)

8

**merging two list together**

In [57]:
C = [1,12,3,24,5]
A = ['a','b','d','c','e']
C+A

[1, 12, 3, 24, 5, 'a', 'b', 'd', 'c', 'e']

**Assignment- List**

In [71]:
my_list = ['b','d','a','z','x']
another_list = [1,2,3,4,5]

my_list.sort()
my_list.reverse()

#another_list.sort()
another_list.reverse()


my_list[2:] + another_list[2:]

['d', 'b', 'a', 3, 2, 1]

**Accessing Elements in Nested Lists**

In [77]:
my_list = ['a','b','c',1,2,3,['apple', 'orange', 'banana'], 'd']

extract_fruit = my_list[6]
extract_fruit[2]

'banana'

In [80]:
my_list[6][2]

'banana'

In [82]:
my_list = ['a','b','c',1,2,3,['apple', 'orange', ['john', 'sadu'],'banana'], 'd']
my_list[6][2][1]

'sadu'

**Modifying the list**

In [86]:
my_list = ['a','b','c',1,2,3,['apple', 'orange', ['john', 'sadu'],'banana'], 'd']

my_list[6][2][0] = 'abhi'
my_list

['a', 'b', 'c', 1, 2, 3, ['apple', 'orange', ['abhi', 'sadu'], 'banana'], 'd']

**Finding Index Positions in Lists and Counting Duplicates**

**Index Method**

In [88]:
my_list = ['a','b','c', 'd']
my_list.index('c')
#my_list

2

**Count Method**

In [92]:
my_lists = ['a','b','c','d','c','c']
my_lists.count('c')

3

**Tuples in Python** - use parenthesis ()

**Tuples are Immutable and cannot be modified**

In [109]:
my_tuple = (1,1,2,3, "some data", [1,2,3])
my_tuple

(1, 1, 2, 3, 'some data', [1, 2, 3])

In [114]:
my_tuple[2:6]

(2, 3, 'some data', [1, 2, 3])

In [113]:
type(my_tuple[2:6])

tuple

In [111]:
my_tuple.count(2)

1

In [106]:
my_tuple[3] = "sadu"

TypeError: 'tuple' object does not support item assignment

In [107]:
my_tuple[5][1] = "sadu"
print(my_tuple)

(1, 1, 2, 3, 'some data', [1, 'sadu', 3])

**Dictionaries in Python**

**Dict are key oriented structure they are not positional oriented structure like tuples**

In [118]:
dict = {'k1': 'sadu', 'k2': 'abhi'}
dict['k1']

'sadu'

In [120]:
dict = {'k1': 'sadu', 5: 'abhi'}
dict[5]

#its a key  not the index position

'abhi'

In [127]:
dict = {'k1': 'sadu', 'k2': 'abhi'}
dict['k1'] ='new value'
dict

{'k1': 'new value', 'k2': 'abhi'}

In [128]:
dict.pop('k2')
dict

{'k1': 'new value'}

In [130]:
dict.clear()
dict

{}

**Adding new value to the dictionary**

In [133]:
dict1 = {'k1': 'sadu', 'k2': 'abhi'}
dict1['k3']= 'kishan'
dict1

{'k1': 'sadu', 'k2': 'abhi', 'k3': 'kishan'}

In [136]:
dict1 = {'k1': 'sadu', 'k2': 'abhi', 'items': ['banana','apple']}
dict1['items'][1]

'apple'

In [150]:
dict1 = {'k1': 'sadu', 'k2': 'abhi', 'items': ['banana', {'k3':['apple','orange']}]}
dict1['items'][1]['k3']

['apple', 'orange']

In [151]:
dict1['items'][1]

{'k3': ['apple', 'orange']}

**Comparison Operators/ logic operators - results in boolean value like True or False**

In [152]:
10==9

False

In [153]:
10==10

True

In [154]:
'hello'=='hello'

True

In [155]:
'hello'=='Hello'

False

In [156]:
5 == '5'

False

In [158]:
5 ==5.0

True

In [159]:
5< 10

True

In [160]:
5>=5

True

In [161]:
5>=3

True

In [162]:
5!=6

True

In [163]:
5!= 5

False

In [165]:
'5'!=5

True

In [166]:
'hello' != 'hello'

False

In [167]:
'hello' != 'Hello'

True

**Or operator**

In [170]:
('hello' == 'Hello' or 5==5)

True

**And operator**

In [173]:
('hello' == 'hello' or 5==5 and 5==6)

True

In [174]:
5==5 and 5==6

False

**Not operator- used to get the opposite value of the boolean**

In [175]:
print (not True)

False

In [176]:
print(not False)

True

In [177]:
print(not (5==5))

False

In [178]:
print(not (5!=5))

True